.section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .blog-section {
    background-color: #ffffff; /* Specific background for blog section */
    padding-left: 20px;
    padding-right: 20px;
}
  
  .blog-content img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }
  