.card {
    border: 1px solid #ccc;
    border-radius: 50px;
    margin: 10px;
    overflow: hidden;
}

.card-content {
    display: flex;
}

.content-left {
    flex: 0 0 auto;
    padding: 10px;
}

.image-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.content-right {
    flex: 1;
    padding: 10px;
    position: relative; /* Ensure the container is positioned relative */
}

.button-group {
    margin-top: 10px;
}

.btn {
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-like {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1.5rem; /* Adjust font size to make the button bigger */
    padding: 12px 20px; /* Adjust padding to increase button size */
}
