.col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjust the gap value as needed */
}

.row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; /* Adjust the gap value as needed */   
}

.drawing-canvas {
    border: 2px solid #000; /* Black border */
    border-radius: 20px; /* Rounded corners */
}

.button {
    width: 100px; /* Adjust the width as needed */
    padding: 10px;
    margin-top: 10px;
}
